@font-face {
  font-family: 'Aeonik, sans-serif';
  src: url('../public/fonts/AeonikTRIAL-Light.otf') format('opentype');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik, sans-serif';
  src: url('../public/fonts/AeonikTRIAL-LightItalic.otf') format('opentype');
  font-weight: light;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik, sans-serif';
  src: url('../public/fonts/AeonikTRIAL-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik, sans-serif';
  src: url('../public/fonts/AeonikTRIAL-RegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik, sans-serif';
  src: url('../public/fonts/AeonikTRIAL-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik, sans-serif';
  src: url('../public/fonts/AeonikTRIAL-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}