// colors
$background-main: #fff;
$text-main: #020a13;
$primary-blue: #005ec4;
$background-primary: #eee;
$background-secondary: #f8fafd;
$background-tertiary: #eff2f5;
$primary-green: #1DB954;
$primary-purple: #A020F0;

// fonts
$font-sora: 'Sora', sans-serif;
$font-htgrotesk: 'Hkgrotesk, sans-serif';
