// colors
$background-main: #fff;
$text-main: #020a13;
$text-secondary: #9b9b9b;
$primary-blue: #005ec4;
$background-primary: #eee;
$background-secondary: #f8fafd;
$background-tertiary: #eff2f5;
$primary-green: #1DB954;
$primary-purple: #A020F0;

// fonts
$font-mabry: 'Mabry Pro, sans-serif';
