// partials
@import 'variable';

@media (min-width: 969px) {
  .articles__card {
    width: 50%;
    
    &:first-child {
      border-right: 1px solid $background-tertiary;
    }
  }
}

 @media (max-width: 620px) {
  .articles__card {
    width: 100%;
  }
 }

 @media (min-width: 679px) and (max-width: 968px) {
  .articles__card {
    width: 100%!important;
  }
 }
