// partials
@import 'variable';

.posts__card__container {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  padding: 1.8rem 2.4rem;
  background: $background-tertiary;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    transition: all 0.5s ease-in-out;
    background: $background-secondary;
  }

  .card__heading {
    width: 200px;

    h3 {
      font-size: 1.3rem;
    }
  }

  .card__date {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 4px;

    p {
      font-size: 0.75rem;
      font-weight: 600;

    }
  }
}
