// partials
@import 'variable';

.posts__card__container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 1.8rem 2.4rem;
  position: relative;
  cursor: pointer;
  width: 100%;

  &:hover {
    transition: all 0.5s ease-in-out;
    background: $text-main;
    color: $background-main;
  }

  .card__heading {
    width: 300px;
  }

  .card__date {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 4px;

    span {
      font-size: 0.75rem;
      font-weight: 600;
    }
  }
}

@media (max-width: 620px) {
  .posts__card__container {
    border-bottom: 1px solid $background-tertiary;
    border-top: 1px solid $background-tertiary;
  }
  .card__heading {
    width: fit-content !important;
  }
}
