// importing partials
@import 'variable';

.connect {
  position: absolute;
  width: 170px;
  right: 17.5%;
  top: 11%;
  background: $background-main;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.6s ease-in-out;
  z-index: 20;

  .connect__container {
    position: relative;
    width: 100%;

    ul {
      list-style: none;
      padding: 0;
      width: 100%;
  
      li {
        font-size: 0.85rem;
        padding: 0.8rem 2rem;
        font-size: 0.8rem;
        letter-spacing: -0.5px;
        display: flex;
        align-items: center;
        font-weight: 500;

        &:hover {
          background: $background-secondary;
        }

        a {
          text-decoration: none;
          display: flex;
          align-items: center;
        }

        span {
          padding-right: 0.8rem;
        }
      }
    }
  }
}
