// partials
@import 'variable';

.cursor__outline,
.cursor__dot {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor__dot {
  width: 8px;
  height: 8px;
  background: $background-tertiary;
}

.cursor__outline {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid $background-primary;
}
