@tailwind base;
@tailwind components;
@tailwind utilities;

// importing partials
@import 'variable';
@import 'typeface';

html,
body {
  font-family: $font-mabry;
  background: $background-main;
  color: $text-main;
  line-height: 1;
  font-weight: 300 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: $text-main;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
