// importing fonts
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');

// importing partials
@import 'variable';
@import 'typeface';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-htgrotesk;
  background: $background-main;
  color: $text-main;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.7;
}

* {
  box-sizing: border-box;
}
