// partials
@import 'variable';

.job__description {
  span {
    &::after {
      content: '';
      border-bottom: 1px solid $text-main !important;
      position: relative;
      width: 4rem;
      height: 1px;
      margin: 0 1rem;
      pointer-events: none;
    }
  }
}
