// partials
@import 'variable';

.modal {
  background: $background-secondary;
  z-index: 50;

  .modal__container {
    background: $background-secondary;
    position: relative;

    .close__button {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      left: 3%;
      top: 3%;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: transparent;
      border: 4px solid $background-tertiary;
      cursor: pointer;
    }
  }

  .inner__modal {
    height: calc(100% - 200px);
  }

  .heading {
    h3 {
      font-size: 1.8rem;
      letter-spacing: -2px;
    }
  }

  .tag {
    .tag__item {
      display: flex;
      align-items: center;
      gap: 8px;

      p {
        background: $background-primary;
        padding: 0.4rem 0.9rem;
        border-radius: 4px;
      }
    }
  }

  .code {
    a {
      text-decoration: underline;
    }

    .icon {
      margin-right: 8px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .live {
    background: $text-main;
    color: $background-main;
    text-align: center;
    padding: 0.7rem 1.3rem;
    transition: all 0.3s ease;
    z-index: 12;

    &:hover {
      transition: all 0.3s ease-in-out;
      background: $primary-blue;
    }
  }
}
