// partials
@import 'variable';

.modal__block {
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.modal {
  background: $background-secondary;
  height: 100% !important;
  z-index: 10;

  .close__button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 3%;
    top: 3%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: transparent;
    border: 4px solid $background-tertiary;
    cursor: pointer;

    &:hover {
      transition: all 0.3s ease-in-out;
      border: 4px solid $primary-blue;
    }
  }

  .tag {
    span {
      background: $background-primary;
      padding: 0.4rem 0.9rem;
      border-radius: 4px;
    }
  }

  .code {
    a {
      text-decoration: underline;
    }

    .icon {
      margin-right: 8px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .live {
    background: $text-main;
    color: $background-main;
    text-align: center;
    padding: 0.7rem 1.3rem;
    height: 64px !important;
    transition: all 0.3s ease;
    z-index: 10;

    &:hover {
      transition: all 0.3s ease-in-out;
      background: $primary-blue;
    }
  }
}

@media (max-width: 620px) {
  .modal {
    width: 100% !important;
  }
}
