// importing partials
@import 'variable';

.nav {
  max-width: 1000px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;

  .logo__container {
    width: 50px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 1.4rem;
      font-weight: 900;
      letter-spacing: -2px;
    }
  }

  .nav__items {
    width: 340px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        font-size: 0.85rem;
        font-weight: 500;
        padding: 0.4rem 0.9rem;
        background: transparent;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease-out;
        letter-spacing: -1px;

        &:hover {
          background: $primary-blue;
          font-size: 0.8rem;
          color: #fff;
          border-radius: 4px;
        }
      }
    }
  }

  .nav__cta {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      padding: 0.8rem 1.4rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      border: none;
      background: $background-primary;
      border-radius: 4px;
      font-size: 0.8rem;
      font-weight: 500;
      font-family: $font-htgrotesk !important;
      transition: all 0.3s ease-in;
      letter-spacing: -1px;

      &:hover {
        background: $primary-blue;
        color: $background-main;
      }
    }
  }
}
