// partials
@import 'variable';

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background: $text-main;
  overflow-y: hidden !important;
  cursor: none !important;
  pointer-events: none;

  .preloader__progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: calc(60% - 20px);

    .progress__bar {
      position: relative;
      height: 25px;
      width: 300px;
      overflow: hidden;
      background: $background-secondary;
      border: 1px solid $text-main;

      .progress__number {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $text-main;
        z-index: 10;
      }

    }
  }
}

@media (max-width: 620px) {
    .progress__bar {
        width: calc(80% - 20px) !important;
    }
}

