// partials
@import 'variable';

.projects__card__container {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  padding: 1.8rem 2.4rem;
  background: $background-tertiary;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    transition: all .5s ease-in-out;
    background: $background-secondary;
  }

  .card__heading {
    h3 {
      font-size: 1.8rem;
      letter-spacing: -2px;
    }

    p {
      font-size: 0.9rem;
      font-weight: 500;
    }
  }

  .card__details {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    .live,
    .code {
      display: flex;
      align-items: center;
      font-size: 0.85rem;
      gap: 4px;
    }
  }
}
