// partials
@import 'variable';

.projects__card {
  position: relative;

  .projects__card__container {
    display: flex;
    flex-direction: column;
    gap: 3.4rem;
    padding: 1.8rem 2.4rem;
    background: $background-tertiary;
    border-radius: 4px;
    cursor: pointer;

    .card__heading {
      h3 {
        font-size: 1.8rem;
        letter-spacing: -2px;
      }

      p {
        font-size: 0.9rem;
        font-weight: 500;
        margin-top: -1.5rem;
        letter-spacing: -1px;
      }
    }

    .card__details {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      .live,
      .code {
        display: flex;
        align-items: center;
        font-size: 0.85rem;
        letter-spacing: -1px;
        gap: 4px;
      }
    }
  }
}
