.project__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 340px));
  gap: 1rem;
}

@media (min-width: 768px) {
  .grid__card {
    &:first-child {
      height: 260px !important;
    }

    &:nth-child(2) {
      margin-top: 40px;
      height: 300px !important;
    }

    &:nth-child(3) {
      margin-top: -5rem !important;
      height: 300px !important;
    }

    &:nth-child(4) {
      height: 300px !important;
    }

    &:nth-child(5) {
      height: 260px !important;
      margin-top: -5rem !important;
    }
  }
}

@media (max-width: 620px) {
  .grid__card > * {
    height: 340px !important;
  }
}
